.places__title{
    grid-column: 1;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    max-height: fit-content;
}

@media screen and (max-width: 780px) { 
    .places__title{
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 400px) {
    .places__title{
        padding-left: 16px;
        padding-right: 16px;
    }
}