@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 984px;
    padding: 0 48px;

}

@media screen and (max-width: 1030px) {
    .lead{
        max-width: 928px;

    }

}

@media screen and (max-width: 780px) {
    .lead {
    padding: 0;
    max-width: 780px;
    margin-left: 0;
    margin-right: 0;
    }
}


@media screen and (max-width: 340px) {
    .lead {
        max-width: 340px;

    }
}

