.cover__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    max-width: 366px;
    max-height: 66px;
    margin: 0;
    z-index: 2;
}

@media screen and (max-width: 780px) {
    .cover__subtitle{
        font-size: 18px;
        line-height: 22px;
    }
}


@media screen and (max-width: 340px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
    }
}