@import url(./__lang-link/header__lang-link.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__link-container/header__link-container.css);


.header{
    max-width: 1184px;
    max-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 48px;
    margin-top: 28px;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 1030px) {
    .header {
        max-width: 928px;
        
    }
}

@media screen and (max-width: 780px) {
    .header {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;

    }
}

@media screen and (max-width: 340px) {
    .header {
    max-width: 288px;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;

}

}