.place__paragraph{
grid-column: 2;
margin: 0;
margin-bottom: 24px;
font-weight: normal;
font-size: 18px;
line-height: 30px;
}

.place__paragraph:last-of-type{
    margin-bottom: 0;
}


@media screen and (max-width: 780px) {
 
    .place__paragraph{
        font-size: 16px;
        line-height: 26px;

        }
    }

    @media screen and (max-width: 400px) {
      .place__paragraph{
            padding-left: 16px;
            padding-right: 16px;
            font-size: 16px;
            line-height: 26px;
            padding-left: 16px;
            padding-right: 16px;
        }
    
    }