.lead__subtitle{
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto 64px;
    max-width: 640px;
    max-height: fit-content;
    text-align: center;
}

@media screen and (max-width: 1030px) {
    
    .lead__subtitle{
        margin-bottom: 56px;
        }

}

@media screen and (max-width: 340px) {
    .lead__subtitle{
        line-height: 20px;
        font-size: 16px;
    }
}