.place__url-heading{
    font-size: 12px;
    font-weight: normal;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
}

@media screen and (max-width: 780px) {

    .place__url-heading{
        line-height: 12px;
    }
}